/*Esse arquivo Heading.module.css pode ter um escopo*/
.menu {
  /* Se eu fosse usar magem para fazer o espaçamento:
  margin: 3.2rem 0; - 32px em cima e embaixo e zero nas laterais*/

  display: flex; /* vou alinhar tudo ao centro*/
  align-items: center;
  justify-content: center;
  gap: 1.6rem; /*24px de espaçamento entre os elementos*/
}
/*aplica o estilo apenas no link*/
.menuLink {
  display: inline-flex; /*alinha o ícone e o texto*/
  align-items: center; /*alinha verticalmente */
  justify-content: center; /*alinha horizontalmente, no caso um do lado do outro*/
  text-decoration: none; /*tira o sublinhado do link e do texto*/
  background: var(--primary); /*cor do texto trazida do theme*/
  color: var(--text-over-primary); /*cor do texto trazida do theme*/
  transition: all 0.2s ease-in-out; /*transição suave para todas as propriedades que mudarem*/
  padding: 1.2rem; /*12px de espaçamento interno*/
  border-radius: 0.8rem; /*8px de borda arredondada*/
}

/*quando passar o mouse por cima do link*/
.menuLink:hover {
  filter: brightness(50%); /*deixa o menu mais claro*/
}

.menuLink svg {
  /*aplica o estilo apenas no ícone */
  width: 3.7rem; /*64px*/
  height: 3.7rem; /*64px*/
}
